
#signoutbtn{
    margin:10px; 
    background-color: #2881e3;
    color:white;
    float: right;

}



.new-project-icon{
    float: left;    
    white-space: nowrap;
    height: 170px;
    width: 190px;
    border: 1px solid #e5e5e5;
    box-shadow:0 0 6px 1px  #cccccc;
    box-sizing: border-box;
    text-align: center;
    padding:10px 10px 5px 10px;
    margin: 50px 10px 100px 50px;
    font-weight: bold; 
    color:#2881e3;
    font-size: 20px;
    
    
    }
    .fa-plus{
        color: #2881e3;
        padding: 20;
    }
    
   
    .new-project-icon:hover{
        background-color:#f2f2f2;
        cursor: hand;
    
    }
    a:hover{
        text-decoration: none;
    
    }
    
    .project{
        font-weight: bold;
        float: left;    
        height: 170px;
        width: 190px;
        border: 1px solid #e5e5e5;
        box-shadow:0 0 6px 1px  #cccccc;
        box-sizing: border-box;
        text-align: center;
        padding: 60px 10px;
        margin: 50px 0 0 40px;
        white-space: pre-wrap;
    
        
        
        }
        
        .project>div{
            box-sizing: border-box;
            position: relative;
            color:#2881e3;
            font-size: 27px;
            cursor: hand;
        }
        
        .project:hover{
            background-color:#f2f2f2;
        
        }

        

 h4.modal-title{
    text-align: center;
    font-size: 25px;
}

div.modal-body>div.form-group>label{
    font-size:17px;
}

input.create-modal{
    float: right;
    margin:10 5 10 5;
    background-color: #2881e3;
    color: white;
    width: 100px;
    display: block;
}
div.form-group{
    margin: 0 0 40px;
    
}
div.modal-content{
    color: #2881e3;
   
}

